
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header {
    font-family: "Nunito", sans-serif;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 5;
    outline: 5px solid rgb(201, 51, 1);
    background-color: red;
}
.m-header {
    position: relative;
    justify-content: center; 
    align-items: center; 
    z-index: 5;
    display: flex;
    height: calc(100vh - 100px);
}
.animated-box {
    width: 100%;
    z-index: 4;
    height: calc(100vh - 100px);

    background-image: url("box.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
    animation: slide-up 2s ease-out;
    position: absolute;
    top: 100px;
    
}

.animated-box.duplicate {
    background-color: rgb(255, 242, 2);
    animation-delay: 0.2s;
    z-index: 3;
    background-image: none;
}

@keyframes slide-up {
    30% { 
        transform: translateY(0%);
    }
    
    100% {
        transform: translateY(-100%);
    }
}
@keyframes ani {
    0% { 
        transform: translateX(100%);
    }
    
    100% {
        transform: translateX(-300%);
    }

}
.mess {
    background-image: url(icons8-facebook-messenger.svg);
    width: 48px;
    height: 48px;
    bottom: 20px;
    right: 20px;
    display: flex;
    position: fixed;
    z-index: 5;
}

/* Add styles for the buttons */
.button {
    font-family: "Nunito", sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: appear 2s ease-in-out;
}

.qr:hover {
    filter: grayscale(80%);
}


.download-button {
    position: fixed;
    width: 12%;
    height: auto;
    top: 50%;
    left: 82.5%;
    z-index: 2; 
}

.download-button:hover path {
    stroke: blue;
}
.button button {
    margin: 0 10px;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display:block;
    transition: transform 0.3s ease-in-out;
    outline: rgba(128, 128, 128, 0.137) 3px solid;
}

.button button:hover {
    transform: scale(1.1);
}

/* Set higher z-index for SVG to ensure it's above buttons */
.m-header svg {
    z-index: 3;
}

/* Add styles for the "Yes" button */
.button button.yes {
    background-color: green;
}

/* Add styles for the "No" button */
.button button.no {
    background-color: red;
}

/* Add styles for the popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    max-width: 400px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
    animation: popup-appear 0.3s ease-in-out;
    border-radius: 10px; /* Add this line to round the corners */
}
@keyframes popup-appear {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}


.popup-close {
    position: fixed;
    font-family: "Nunito", sans-serif;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.popup-close:hover {
    background-color: black;
}
.flower {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(https://www.pngkit.com/png/full/278-2781779_nam-canh-hoa-mai-hoa-mai-clipart.png);
    background-size: cover;
    pointer-events: none; /* Prevent interaction with flowers */
    animation: fall-rotate 4s linear infinite;
    animation-delay: calc(0.5s * var(--index)); /* Add random delay */
}

@keyframes fall-rotate {
    0% {
        transform: translateY(-100%) translateX(0%) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) translateX(50%) rotate(360deg);
    }
}
.driver-popover.driverjs-theme {
    background-color: #fde047;
    color: #000;
  }
  
  .driver-popover.driverjs-theme .driver-popover-title {
    font-size: 20px;
  }
  
  .driver-popover.driverjs-theme .driver-popover-title,
  .driver-popover.driverjs-theme .driver-popover-description,
  .driver-popover.driverjs-theme .driver-popover-progress-text {
    color: #3e0303;
  }
  
  .driver-popover.driverjs-theme button {
    flex: 1;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #110101;
    text-shadow: none;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 6px;
  }
  
  .driver-popover.driverjs-theme button:hover {
    color: #000000;
  }
  
  .driver-popover.driverjs-theme .driver-popover-navigation-btns {
    justify-content: space-between;
    gap: 3px;
  }

.driver-popover.driverjs-theme .driver-popover-close-btn {
    color: #ff0000;
    background-color: transparent;
    border: 2px;
    top: -5px;
    right: -10px;
    font-size: 25px;
}
  
  .driver-popover.driverjs-theme .driver-popover-close-btn:hover {
    color: #000000;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
    border-left-color: #fde047;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
    border-right-color: #fde047;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
    border-top-color: #fde047;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
    border-bottom-color: #fde047;
  }